body{
    background-color:#212529;
}

h1{
    text-align:center;
    color:#dee2e6;
    margin-top:50px;
}

.sectionflexbox{
    width:80%;
    border:4px solid black;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex:no-wrap;
}

.bbflex{
    flex-shrink: 1;
}

.ds1flex{
    flex-shrink: 1;
}

.ds2flex{
    flex-shrink: 2;
}

.ds3flex{
    flex-shrink: 1;
}

.desflex{
    flex-shrink: 1;
}