body{
    background-color: #1d2d44;
    color:#f0ebd8;
    font-family: 'Roboto', sans-serif;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}

#selflogo{
    width:100px;
    height:100px;
    border-radius:50%;
    justify-content: flex-start;
    
}



header nav a{
    margin:0 10px;
    color:#748cab;
    text-decoration: none;

}

.headernav{
    font-size:2rem;
}

.headernav:hover{
    color:grey;
    box-shadow: 5px 5px 5px grey;
    transition: all ease-in-out 0.2s;
}

section{
    background-color:#748cab;
    margin:0 auto;
    width:80%;
}

.modeitalic{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    
}



@media (max-width: 500px){

    nav,span{
        font-size:.8em;
    }

    section{
        width:100%;
    }
    div.col{
        overflow-x: scroll;
        width: max-content;
        display:inline-block;
        font-size: .8rem;
    }

    div.col-md-3.modeitalic{
        text-align:center;
    }
}

@media (max-width: 375px){

    h1{
        font-size:1em;
    }
    nav,span{
        font-size:.6em;
    }

}

@media (max-width: 280px){
    nav,span{
        font-size:.6em;
    }
}